.container {
  background: var(--app-color-surface-1);
  border-radius: 12px;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2px;
}

.label {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--mui-palette-primary-light);
}

.section {
  display: grid;
  grid-template-columns: 1fr 100px;
  row-gap: 0.8rem;
}

.total {
  justify-self: end;
}
