.container {
  background: var(--app-color-surface-1);
  border-radius: 12px;
  padding-block: 1rem 1.8rem;
  padding-inline: 1.8rem;
}

.header {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 5px 2px;
  padding-inline-end: 16px;
}

.options {
  position: absolute !important;
  inset-block-start: -4px;
  inset-inline-end: -14px;
  color: var(--mui-palette-primary-main);
}

.label {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--mui-palette-primary-light);
}

.section {
  display: grid;
  grid-template-columns: 1fr 100px;
  row-gap: 0.8rem;
}

.total {
  justify-self: end;
}
