:root {
  --app-color-surface-1: #222222;

  --app-brand-color-gradient: linear-gradient(to top left,
      var(--mui-palette-primary-main),
      var(--mui-palette-primary-dark));
}

.app-gradient-primary {
  background: var(--app-brand-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
