.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--app-brand-color-gradient);
  padding: 3rem;
  border-radius: 12px;
}

.icon {
  position: absolute;
  inset-block-start: 6px;
  inset-inline-start: 6px;
  color: var(--mui-palette-primary-main);
}

.options {
  position: absolute !important;
  inset-block-start: 6px;
  inset-inline-end: 6px;
  color: var(--mui-palette-primary-main);
}

.label {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.total {
  font-size: 2.4rem;
  font-weight: 600;
}
